{% extends 'layout/app.html'%}

{% include 'partials/_nav.html'%}

{% block body %}

<header>
<div>
  <h2 class="text-center m-2">Votre solde :</h2>
</div>
<div>
  <h1 class="text-center m-3">{{total_prix}}</h1>
</div>


</header>

<div class="table-container">

    <h2 class="text-center">Mes crypto-monnaies</h2>


    <section>
        <table class="table">
            <tbody>

                {% for crypto in mes_cryptos %}
                <tr>
                    <th>{{crypto[0]}}</th>
                    <th>{{crypto[1]}}</th>
                    {% for api_crypto in api_cryptos %}               
                    {% if crypto[0] == api_crypto['symbol'] %}
                    <th>{{(api_crypto['quote']['USD']['percent_change_24h'])|round(2)}} %</th>     
                    {% if api_crypto['quote']['USD']['percent_change_24h'] > 0 %}

                    <td class="chevrons"><img src="https://img.icons8.com/officel/16/000000/up-right-arrow.png"/></td>

                    {% else %}

                    <td class="chevrons"><img src="https://img.icons8.com/officel/16/000000/down-right-arrow.png"/></td>

                    {% endif %}
                    {% endif %}
                    {% endfor %}
                </tr>
                {% endfor %}

            </tbody>
        </table>

        <button class="btn fixed"><a href="/graphique">Graphique des gains</a></button>
    </section>

</div>



{% endblock%}