{% extends 'layout/app.html'%}

{% include 'partials/_nav_return.html'%}

{% block body %}

<header>
    <h1 class="text-center m-3">Modifier</h1>
</header>

<div class="table-container">

    {% for nom_crypto in nom_cryptos %}
    <div class="container-crypto">

        <div class="titre-rubrique">
            <h2>{{nom_crypto[0]}} </h2>
            <button type="submit" class="btn"><a href="/modify-one/{{nom_crypto[0]}}">Vendre</a> </button>
        </div>

        <p>Historique</p>
        <table class="table">
            <tbody>

                {% for crypto in mes_cryptos %}

                {% if crypto[1] == nom_crypto[0] %}
                <tr>
                    <th>{{crypto[1]}}</th>
                    <th>{{crypto[2]}}</th>
                    <th>{{crypto[3]}}</th>

                </tr>
                {% endif %}

                {% endfor %}


            </tbody>
        </table>


    </div>

    {% endfor %}


    <section>

        <!-- <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">

                {% for nom_crypto in nom_cryptos %}

                <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#{{nom_crypto[0]}}" aria-expanded="false" aria-controls="{{nom_crypto[0]}}">
                        <p>{{nom_crypto[0]}} ---- Nombre de {{nom_crypto[0]}} : {{nom_crypto[1]}}</p>
                        <p> <a href="/delete">VENDRE</a> </p>
                    </button>
                </h2>

                <div id="{{nom_crypto[0]}}" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <table class="table">
                            <tbody>


                                {% for crypto in mes_cryptos %}

                                {% if crypto[1] == nom_crypto[0] %}
                                <tr>
                                    <th>{{crypto[1]}}</th>
                                    <th>{{crypto[2]}}</th>
                                    <th>{{crypto[3]}}</th>

                                </tr>
                                {% endif %}

                                {% endfor %}


                            </tbody>
                        </table>
                    </div>
                </div>



                {% endfor %}

            </div>

        </div> -->

    </section>

</div>

{% endblock%}