@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,400;1,900&display=swap');

:root {
    --main-font: 'Roboto', sans-serif;
    --font-logo: 'Roboto', sans-serif;
    --black: #100f0f;
    --gris-clair: #efefef;
    --vert: #1fc36c;
}

body {
    background-color: var(--black);
    color: var(--gris-clair);
}

tr>*,
a,
i {
    color: var(--gris-clair);
}

.chevrons {
    text-align: right;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 10rem;
    background-color: var(--vert);
}

a {
    text-decoration: none;
}

.input-group {
    margin: 2rem 0;
}

.form-control,
.input-group-text,
.form-select,
.form-control[readonly] {
    background-color: var(--black);
    color: var(--gris-clair);
}

.form-control:disabled {
    background-color: var(--vert);
}

.btn {
    color: var(--gris-clair);
    border: var(--gris-clair) 1px solid;
    margin: 2rem 0;
}

.fixed {
    position: absolute;
    bottom: 2rem;
    left: 0;
    right: 0;
    max-width: 10rem;
    margin-left: auto;
    margin-right: auto;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.titre-rubrique {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.image-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem 0;
}

.container-crypto {
    border-bottom: solid 3px var(--vert);
}

.red{
    color: red;
}

.green{
    color: var(--vert);
}

@media screen and (max-width: 500px) {

    .navbar-nav {
        flex-direction: row;
    }

    .navbar-nav .nav-link {
        padding: 0 1rem;
    }

    .table-container {
        padding: 2rem;
    }

    .graph {
        width: 80%;
    }
}